.feynman__link{
    justify-self: end;
    align-self: end;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
    z-index: 4;
}

@media (max-width: 992px) {
    .feynman__link {
        justify-self: center;
        align-self: flex-start;
        margin-right: 0;
    }
}