.tow-column{
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 15% 75%;
    grid-column-gap: 10%;
}

.tow-column__title{
    color: #2C7EEC;
    font-size: 18px;
    line-height: 23px;
}

.tow-column__text span{
    font-weight: 700;
}




