@import "__text/section__text";
@import "__title/section__title";
@import "__subtitle/section__subtitle";

.section__subtitle, .section__title{
    max-width: 60%;
    display: flex;
    justify-content: center;
}