@import "header/header";
@import "section/section";
@import "cards/cards";
@import "techniques/techniques";
@import "video/video";
@import "tow-column/tow-column";
@import "khan/khan";
@import "kaufman/kaufman";
@import "resources/resources";
@import "feynman/feynman";
@import "digits/digits";
@import "footer/footer";
@import "footer-list/footer-list";
@import "oakley/oakley";
@import "description/description";
@import "content-container/content-container";
@import "title/title";
@import "link/link";
@import "rotation/rotation";
@import "logo/logo";

body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}